@{
    ViewData["Title"] = "Iniciar sesión - Punto De Venta";
    Layout = null;
}

@if (ViewData.Keys.Contains("mensaje"))
{
    <p style="color: red">
        @ViewData["mensaje"]
    </p>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <partial name="_Styles" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Punto De Venta</b> Iniciar Sesión</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Inicie la sesión en su <strong>punto de venta</strong></p>

                <form action="#" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Correo Electrónico">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Recordar contraseña
                                </label>
                            </div>
                        </div>*@
                        <div class="col-12">
                            <button type="submit" class="btn btn-sm btn-primary btn-block">Iniciar Sesión</button>
                        </div>
                    </div>
                </form>

                <div class="social-auth-links text-center mt-2 mb-3">
                    <a class="btn btn-sm btn-block btn-danger" asp-action="" asp-route-proveedor="">
                        <i class="fab fa-google mr-2"></i> Iniciar sesión con Google
                    </a>
                    <a class="btn btn-sm btn-block btn-secondary" asp-action="LoginExterno" asp-route-proveedor="Microsoft">
                        <i class="fab fa-windows mr-2"></i> Iniciar sesión con Microsoft
                    </a>
                </div>

                <p class="mb-1">
                    <a asp-action="RestablecerClave" asp-controller="RecuperarClave">He olvidado mi contraseña</a>
                </p>
            </div>
        </div>
    </div>
</body>
<partial name="_Scripts" />
</html>

