@{
    ViewData["Title"] = "Usuarios - Punto De Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/lib/datatables-bs4/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
}

    <div class="card">
        <h6 class="card-header bg-dark text-white">Lista de Usuarios</h6>
        <div class="card-body">
            <h5 class="card-title text-bold mb-1">Usuarios registrados en el sistema</h5>
            <p class="card-text text-muted">With supporting text below as a natural lead-in to additional content.</p>
            <button type="button" class="btn btn-sm btn-success mb-3" data-bs-toggle="modal" data-bs-target="#ModalNuevoUsuario">
                <i class="fa fa-user-plus mr-2"></i>
                Nuevo usuario
            </button>

            <table class="table table-sm table-bordered table-striped mt-3" id="example1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                    </tr>
                    <tr>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    @*Ventana para crear nuevo usuario*@
    <div class="modal fade" id="ModalNuevoUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Detalles del producto</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control ml-3" placeholder="Nombre completo">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Correo</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Correo Eléctronico">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Teléfono</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control ml-3" placeholder="Número del usuario">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Rol</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                                        <option value="0" selected>Seleccionar un rol</option>
                                        <option value="1">Administrador</option>
                                        <option value="2">Empleado</option>
                                        <option value="3">Visitante</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Estado</label>
                                <div class="col-sm-9">
                                    <select class="form-control ml-3">
                                        <option value="0" selected>Seleccionar un estado</option>
                                        <option value="1">Activo</option>
                                        <option value="2">Desactivado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success">Guardar cambios</button>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    <script src="~/lib/datatables/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables-bs4/js/datatables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-responsive/js/datatables.responsive.min.js"></script>
    <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/datatables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
}

