<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    @*Styles Site*@
    <link href="~/dist/css/fonts.css" rel="stylesheet" />
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/dist/css/puntodeventa.aplicacionweb.css" rel="stylesheet" asp-append-version="true" />
    @*Puglins*@
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/overlayscrollbars/css/overlayscrollbars.min.css" rel="stylesheet" />
    @*Render Styles*@
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @*Preloader*@
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="dist/img/shop-large-icon.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        @*Navbar*@
        <partial name="_NavBar" />

        @* Sidebar Container *@
        <partial name="_Sidebar" />

        @*Content*@
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>

        @*Footer*@
        <partial name="_Footer" />
    </div>

    @*Scripts*@
    <partial name="_Scripts" />
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
