@{
    ViewData["Title"] = "Mi Cuenta - Punto De Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mi Perfil</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Dashboard" asp-action="Index">Inicio</a></li>
                    <li class="breadcrumb-item active">Mi cuenta</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="./dist/img/user2-small-128x128.png" alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center">Nina Mcintire</h3>
                        <p class="text-muted text-center">Software Engineer</p>
                        <a href="#" class="btn btn-success btn-block"><b>Renovar plan</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Mi información</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="far fa-file-alt mr-1"></i> Sobre mi</strong>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Ubicación</strong>

                        <p class="text-muted">Medellín, Colombia.</p>

                        <hr>

                        <strong><i class="fas fa-book mr-1"></i> Educación</strong>

                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit.
                        </p>

                        <hr>

                        <strong><i class="fas fa-book mr-1"></i> Correo</strong>

                        <p class="text-muted">
                            Loremipsum.Lorem.com
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link btn-sm active" id="DetallesNegocio" data-bs-toggle="pill" data-bs-target="#detalles-negocio" type="button" role="tab" aria-controls="detalles-negocio" aria-selected="false" style="border: none !important;">Información del negocio</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link btn-sm" id="EditarInformacion" data-bs-toggle="pill" data-bs-target="#editar-perfil" type="button" role="tab" aria-controls="editar-perfil" aria-selected="true" disabled style="border: none !important;">Mi perfil</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link btn-sm" id="CambiarContraseña" data-bs-toggle="pill" data-bs-target="#cambiar-clave" type="button" role="tab" aria-controls="cambiar-clave" aria-selected="false" disabled style="border: none !important;">Cambiar Contraseña</button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="detalles-negocio" role="tabpanel" aria-labelledby="DetallesNegocio">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">NIT</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" placeholder="Numero Documento o NIT">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Empresa</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" placeholder="Nombre de la empresa">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Razon Social</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" placeholder="Razon Social">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="email" placeholder="Correo Eléctronico">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Direccion</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" placeholder="Direccion de facturación">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Teléfono</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="tel" placeholder="Teléfono">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Impuesto</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" placeholder="Total de impuestos">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Moneda</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" placeholder="COP">
                                        </div>
                                    </div>
                                    <div class="form-group d-flex">
                                        <label class="col-sm-2 col-form-label">Subir Logo</label>
                                        <div class="input-group">
                                            <div class="custom-file col-sm-10">
                                                <input type="file" class="custom-file-input" accept=".png">
                                                <label class="custom-file-label">Elegir archivo para subir</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text">Cargar archivo</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="button" class="btn btn-success"><i class="fa fa-save mr-2"></i> Guardar cambios</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="editar-perfil" role="tabpanel" aria-labelledby="EditarInformacion">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" placeholder="Nombre completo">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Cargo</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" placeholder="Puesto actual">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputExperience" class="col-sm-2 col-form-label">Experiencia</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" placeholder="Experiencia en el area"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-2 col-form-label">Ubicación</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Donde te encuentras ahora">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputSkills" class="col-sm-2 col-form-label">Educación</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Bachiller">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">Correo</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" placeholder="Correo eléctronico">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-success"><i class="fa fa-save mr-2"></i> Guardar cambios</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="cambiar-clave" role="tabpanel" aria-labelledby="CambiarContraseña">
                                <form class="form-horizontal">
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Contraseña actual">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Nueva contraseña">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-unlock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Confirmar nueva contraseña">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-unlock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-save mr-2"></i> Guardar contraseña</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

