
@{
    ViewData["Title"] = "Categorias - Punto De Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/lib/datatables-bs4/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
}

    <div class="card">
        <h5 class="card-header bg-dark text-white">Categorias</h5>
        <div class="card-body">
            <h5 class="card-title text-bold mb-2">Visualizar categorias</h5>
            <p class="card-text text-muted">Las <strong>categorías</strong> se utilizan para organizar la variedad de <strong>productos</strong> dentro de su e-commerce. Estas secciones funcionan como niveles jerárquicos de clasificación de los <strong>productos.</strong> La organización por <strong>categorías</strong> facilita la búsqueda de su cliente por un ítem.</p>

            <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#ModalNuevaCategoria">
                <i class="fa fa-box mr-2"></i>
                Nueva Categoria
            </button>

            <table class="table table-sm table-bordered table-striped mt-3" id="example1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                        <td>Item</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    @*Ventana Nueva Categoria*@
    <div class="modal fade" id="ModalNuevaCategoria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Detalles de la categoria</h5>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control ml-3" placeholder="Nombre de la categoria">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Descripción</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control ml-3" placeholder="Descripción de la categoria">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Estado</label>
                        <div class="col-sm-9">
                            <select class="estado-categoria form-control ml-3">
                                <option value="0" selected>Seleccionar una categoria</option>
                                <option value="1">Activa</option>
                                <option value="2">Inactiva</option>
                                <option value="3">Nueva</option>
                                <option value="4">Temporada</option>
                                <option value="5">Lo más vendido</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success">Guardar cambios</button>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    @*Tabla*@
    <script src="~/lib/datatables/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables-bs4/js/datatables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-responsive/js/datatables.responsive.min.js"></script>
    <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/datatables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    @*filtros*@
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
}

